body {
  background-image: url("../img/background.png");
}
p {
  margin:0;
  padding:0;
}
p.chi {
  font-size: 14px;
  font-weight: bold;
  font-family: "PMingLiU", "SimSun";
}
p.eng {
  font-size: 14px;
  font-weight: 600;
  font-family: "arial";
}
h2.chi {
  margin:0;
  font-size: 20px;
  font-weight: 800;
  color: rgb(230,70,53);
  font-family: "PMingLiU", "SimSun";
}
h2.eng {
  margin:0;
  font-size: 20px;
  font-weight: 600;
  color: rgb(230,70,53);
  font-family: "arial";
}

/* container */
.container {
  width:1000px;
  margin:auto;
  padding:0;
}

/* header */
.header {
  width:965px;
  margin:auto;
}
.header>img {
  margin:auto; position:relative;left:310px;
}

.header-pics {
  width:1000px;
  margin:50px auto 40px;
}
.header-pics>img:first-child {
  margin-bottom:40px;
}
.header-pics>img:first-child+img {
  margin-left:0px;
}
.header-pics>img:first-child+img+img {
  margin-left:0px;margin-bottom:20px;
}
.header-pics>img:first-child+img+img+img {
  width:220px;
}
.header-pics>img:first-child+img+img+img+img {
  margin-left:0px;margin-bottom:5px;
}
.header-pics>img:first-child+img+img+img+img+img {
  margin-left:20px;margin-bottom:15px;
}
.header-pics>img:first-child+img+img+img+img+img+img {
  margin-left:20px;margin-bottom:10px;
}

.title-img {
  margin:auto auto 20px;
}

/* menu-left */
.menu-left {
  width:200px;
  float:left;
  margin-top: 20px;
  margin-bottom: 11px;
}
.menu-left>div {
  cursor:pointer;
}
.menu-left>div>p:first-child {
  padding: 9px 9px 0;
}
.menu-left>div>p:first-child+p {
  padding: 5px 9px 9px;
}
.menu-left p {
  color: #fff;
  font-weight: bold;
  line-height:1;
}
.height-50 {
  width: 200px;
  height: 50px;
}
.height-63 {
  width: 200px;
  height: 63px;
}
.menu-item-red {
  background-color: rgb(214,99,87);
}
.menu-item-green {
  background-color: rgb(15,92,93);
}

/* contents */
.contents {
  width:800px;
  min-height:376px;
  float:right;
  margin-top: 20px;
  margin-bottom: 11px;
  filter:alpha(opacity=30);
  -moz-opacity:0.8;
  opacity:0.8;
  background-color:#fff;
}

/* exhibition-intro */
.exhibition-intro p {
  line-height: 1.3;
}
.exhibition-intro .chinese-div h2 {
  padding-bottom: 20px;
}
.exhibition-intro .english-div h2 {
  padding-bottom: 20px;
}
.exhibition-intro .chinese-div {
  width: 280px;
  padding: 20px;
  float: left;
}
.exhibition-intro .chinese-div p {
}
.exhibition-intro .english-div {
  width: 440px;
  padding: 20px;
  float: right;
}
.exhibition-intro .english-div p {
}
.exhibition-intro td {
  vertical-align: top;
}

/* footer */
.footer-chi {
  font-size:10px;
  font-family: "PMingLiU", "SimSun";
  text-align:right;
}
.footer-eng {
  font-size:10px;
  font-family: "arial";
  text-align:right;
}